{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}
    <body class="reset-page">
{% endblock body %}

{% block content %}
     <div class="wrapper">
         <div class="main">
             <div class="squares square1"></div>
              <div class="squares square2"></div>
              <div class="squares square3"></div>
              <div class="squares square4"></div>
              <div class="squares square5"></div>
              <div class="squares square6"></div>
              <div class="squares square7"></div>
                    <div class="container">
                        <div class="section">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="text-center">
                                                <h1 class="card-title mr-2 d-inline-block">{{ question_pack.name }}</h1>
                                                <sup>
                                                    <a class=""><span class="badge badge-info">{% if question_pack.price == 0 %}Free{% else %}Premium{% endif %}</span></a>
                                                </sup>
                                            </div>
                                            <div class="card text-center" data-background-color="red">
                                                <table class="table table-borderless">
                                                    <thead></thead>
                                                    <tbody class="">

                                                    {% for question in question_pack.questionpack.all %}

                                                        <tr>
                                                            <td><h4 class=""><i class="tim-icons icon-spaceship"></i> {{ question.title }}</h4></td>
                                                            <td>
                                                                {% for answer in my_answers %}
                                                                    {% if answer.question.id == question.id %}
                                                                    <button class="btn btn-warning btn-sm" href="" id="button{{ forloop.parentloop.counter }}">Review</button>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="card-footer text-center">
                                                <button class="btn btn-primary">Update my pathways</button>
                                            </div>
                                        </div>
                                        <div class="col-lg-6" style="border-left: 1px solid lightblue">
                                            {% for question in question_pack.questionpack.all %}
                                            <div class="collapse multi-collapse{% if forloop.counter == 1 %} show{% endif %}" id="q{{ forloop.counter }}">
                                                <div class="text-center">
                                                    <h1 class="card-title d-inline-block mr-2">{{ question.title }}</h1>
                                                    <sup>
                                                        <a class=""><span class="badge badge-primary">{{ question.difficulty }}</span></a>
                                                    </sup>
                                                </div>
                                                <div class="card text-center" data-background-color="blue">
                                                    <div class="card-header">
                                                        <h3 class="card-title">Summary</h3>
                                                    </div>
                                                    <div class="card-body">
                                                        {% for answer in my_answers %}

                                                            {% if answer.question.id == question.id %}
                                                                     <p>This question was last attempted on {{answer.time_finished}}</p>

                                                            {% endif %}
                                                            {% endfor %}
                                                    </div>

                                                    <div class="card-footer">
                                                    {% for answer in my_answers %}
                                                        {% if answer.question.id == question.id %}
                                                            <a href="{% url 'my_answer_review' answer.pk%}"><button class="btn btn-primary btn-sm">Review question</button></a>
                                                        {% endif %}
                                                    {% endfor %}
                                                    </div>

                                                </div>

                                            </div>
                                            {% endfor %}
                                            <div class="alert alert-primary mt-4">
                                                <p><i class="tim-icons icon-alert-circle-exc"></i>
                                                Insert nice message here
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
         </div>
     </div>
{% endblock content %}

{% block scripts %}

        {% for question in question_pack.questionpack.all %}
            <script>
            document.getElementById('button{{ forloop.counter }}').addEventListener("click", function (){
                $('.collapse').collapse('hide');
                $('#q{{ forloop.counter }}').collapse('show');
            });
             </script>
        {% endfor %}

{% endblock scripts %}